* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 24px;
}

.title {
  text-align: center;
  color: white;
  background-color: #0d6efd;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
}
.container .container-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 500px;
}
.container .container-small .score-board {
  min-width: 100px;
}
.container .score-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.result {
  min-height: 75px;
  text-align: center;
}

.user-board, .comp-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choice {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.choice #user-element, .choice #comp-element {
  color: #0d6efd;
  font-size: 50px;
  margin-bottom: 10px;
}
.choice .active {
  -webkit-filter: drop-shadow(0 0 20px rgb(123, 141, 243));
          filter: drop-shadow(0 0 20px rgb(123, 141, 243));
}

.choices {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.choices .btn {
  margin: 20px 0 15px 0;
  border-radius: 50%;
}

.restart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}